.footer {
    padding: 30px 84px;
}

.footerTitle {
    font-family: "Myriad Pro", sans-serif;
    font-size: 30px;
    color: #0a527a;
    margin-bottom: 20px;
}

.footerList {
    @include core-justify;
    padding-bottom: 40px;
    border-bottom: 1px solid #d8dde5;
}

.footerList__item {
    display: inline-block;
    vertical-align: top;
    width: 25%;
    padding-right: 20px;
    box-sizing: border-box;
    @include clearfix;

    &:last-of-type { padding-right: 0; }

    img {
        float: left;
    }

    a {
        display: block;
        float: left;
        width: 100%;
        margin-left: -61px;
        padding-left: 73px;
        box-sizing: border-box;
        font-size: 12px;
        color: #0d76bf;
        line-height: 16px;
        text-align: left;
    }
}

/* footerBottom */
.footerBottom {
    @include clearfix;
    padding-top: 30px;
}

.footerBottom__left {
    float: left;
    width: 50%;
    padding-left: 135px;
    box-sizing: border-box;

    p {
        font-size: 12px;
        color: #6a8190;
        margin-top: 20px;
        
        &:first-child { margin-top: 0; }

        span {
            color: #426175;
            line-height: 18px;
            font-weight: bold;
        }
    }
}

.footerBottom__right {
    float: left;
    width: 50%;
}

/* footerMenu */
.footerMenu {
    @include clearfix;

    li {
        float: left;
        margin-left: 50px;
    }

    a {
        font-size: 13px;
        font-style: italic;
        color: #647792;
        transition: all 0.2s ease;
        text-decoration: underline;

        &:hover {
            text-decoration: none;
        }
    }
}

/* footerContact */
.footerContact {
    margin-top: 20px;
    @include clearfix;
}

.footerContact__left {
    float: left;
    width: 50%;
}

.footerContact__right {
    float: left;
    width: 50%;
}

.footerContact__phone {
    span {
        display: inline-block;
        vertical-align: middle;
    }

    .small {
        font-size: 20px;
        color: #639ab8;
    }

    .big {
        font-size: 36px;
        color: #0a527a;
    }
}

.footerContact__address {
    font-size: 15px;
    color: #6a8398;
    margin-top: 13px;
    line-height: normal;
}

.footerContact__title {
    position: relative;
    display: block;
    font-size: 15px;
    color: #135c99;
    margin-bottom: 10px;

    &:before {
        position: absolute;
        top: 0;
        left: -25px;
        background: url("../images/footer-icon-message.png") no-repeat;
        width: 17px;
        height: 17px;
        content: "";
    }
}

.footerContact__description {
    font-size: 11px;
    color: #6b859a;
    line-height: 12px;
}





















