@import "../bower/reset-css/_reset.scss";
@import "mixin/mixin";

/* core */
@import "core/global";

/* layout */
@import "layout/footer";

/* modules */
@import "modules/slider-objects-list";
@import "modules/article";

b, strong {
  font-weight: bold;
}

em, i {
  font-style: italic;
}

s {
  text-decoration: line-through;
}

.header {
  position: relative;
  background: url('../images/header3.png') no-repeat;
  height: 309px;
}

.logo {
  position: absolute;
  background: url('../images/logo.png') no-repeat;
  top: 37px;
  right: 84px;
  width: 219px;
  height: 210px;
  cursor: pointer;
  z-index: 3;
}

.nav {
  position: relative;
  z-index: 2;

  ul {
    position: relative;
    z-index: 200;
    font-size: 0;
    height: 71px;
    margin-left: 22px;

    &:after {
      display: inline-block;
      vertical-align: middle;
      height: 100%;
      content: "";
    }

    li {
      display: inline-block;
      vertical-align: middle;
      border-right: 1px solid #cfdbe4;

      &:last-child, &.last {
        border-right: none;
      }

      a {
        display: block;
        font-size: 17px;
        font-style: italic;
        font-family: Arial, sans-serif;
        color: #0f7cc1;
        text-decoration: underline;
        padding: 5px 12px;

        &:hover {
          text-decoration: none;
        }
      }
    }
  }

}

.slider {
  position: relative;
  z-index: 2;
  height: 202px;
  overflow: hidden;
}


.slider-wrap {
  position: relative;
  margin-left: 102px;
  width: 650px;

  @include clearfix;
}

.img-slider, .content-slider {
  float: left;
}

.slider-header {
  .item {
    height: 202px;
  }

  .img-slider {
    position: relative;
    overflow: hidden;
    height: 100%;
    width: 370px;

    &:after, &:before {
      position: absolute;
      z-index: 10;
    }

    &:before {
      top: 0;
      left: 0;
      width: 83px;
      height: 202px;
      background: url("../images/slider-mask-left.png") no-repeat;
      content: "";
    }

    &:after {
      top: 0;
      right: 0;
      width: 104px;
      height: 202px;
      background: url("../images/slider-mask-right.png") no-repeat;
      content: "";
    }

    img {
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      height: 100%;
    }
  }
}

.content-slider {
  position: relative;
  margin-left: -50px;
  margin-top: 24px;
  z-index: 15;
  width: 300px;

  h3 {
    font-size: 23px;
    font-family: "Myriad Pro", sans-serif;
    color: #fff;
    text-shadow: 1px 1px 3px #000;
  }

  .text-slider {
    margin-top: 50px;
    margin-left: 22px;
    color: #a8d0f1;
    font-size: 23px;
    font-family: "Myriad Pro", sans-serif;
  }

}

.arrow {
  position: absolute;
  top: 50%;
  margin-top: -26px;
  width: 39px;
  height: 52px;
}

.arrow-next {
  background: url('../images/arrow-next.png') no-repeat;
  left: 625px;

  &.obj {
    left: auto;
    right: 18px;
  }
}

.arrow-prev {
  background: url('../images/arrow-prev.png') no-repeat;
  left: -10px;

  &.obj {
    left: 18px;
  }
}

.article-wrap {
  position: relative;
  z-index: 2;
  margin: 30px 80px;

  @include clearfix;
}

.article-left {
  float: left;
  width: 240px;

  ul {

    li {
      position: relative;
      margin-bottom: 15px;

      &:before {
        position: absolute;
        width: 6px;
        height: 6px;
        background: #ed2e35;
        border-radius: 50%;
        left: -18px;
        top: 50%;
        margin-top: -3px;
        content: "";
      }

      &:last-child {
        margin-bottom: 0;
      }

      a {
        font-size: 14px;
        font-family: "Myriad Pro", sans-serif;
        display: block;
        color: #0d76bf;
      }
    }
  }

}

.img-w-min {
  width: 100%;
  height: 100%;
}

.article-right {
  float: right;
  width: 685px;
  position: relative;
}

.img-article {
  height: 265px;
  position: relative;
  z-index: 1;
}

.container {
  position: relative;
  background: #fff url('../images/container.png') no-repeat;
  background-position: 0 -100px;
  min-height: 200px;
  margin-top: 35px;
  border: 1px solid transparent;
  /*
    &:before, &:after {
      position: absolute;
      display: block;
      left: 0;
      width: 100%;
      z-index: 1;
      content: "";
    }

    &:before {
      top: 0;
      background: url('../images/shadow-top.png') repeat-x;
      height: 120px;
    }


    &:after {
      bottom: 0;
      background: url('../images/shadow-bottom.png') repeat-x;
      height: 82px;
    }
    */
}

.helper {
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

.text-bottom-article {
  position: absolute;
  height: 70px;
  bottom: 0;
  width: 457px;;
  z-index: 2;
  background: rgba(23, 60, 87, 0.8);
  font-size: 0;

  p {
    display: inline-block;
    vertical-align: middle;
    color: #fff;
    font-size: 13px;
    padding: 0 20px;
  }

}

.vvva {
  li {
    display: block;
    padding: 6px;
    padding-bottom: 0;

    .vvva-text {
      background: #fff;
      height: 100%;
      font-size: 12px;
      padding: 8px;
    }
  }
}

.text-right-article {
  position: absolute;
  height: 100%;
  width: 228px;
  top: 0;
  right: 0;
  background: rgba(23, 60, 87, 0.8);
  z-index: 3;
}


.container {

  &.obj {
    margin-top: -32px;
    background-color: #fff;
    background-position: 0 50px;
    &:before {
      display: none;
    }
  }

  h3 {
    position: relative;
    z-index: 2;

    padding: 6px 0;
    font-size: 33px;
    font-family: "Myriad Pro", sans-serif;
    color: #00549f;
    text-align: center;
  }
}

.list-obj {
  margin: 0 20px;
}

.objects-list {
  display: table;
  width: 100%;
  font-size: 0;

  li.object-item-block {
    width: 100%;
    display: block;
    margin-bottom: 20px;
    box-sizing: border-box;

    .object-wrap-block {
      min-height: 100px;
      border: 1px solid #bccad4;
      padding: 10px;
    }

    .object-img-wrap-block {
      display: table;
      width: 100%;
      font-size: 0;

      a.link-img-block {
        display: inline-block;
        height: 200px;
        overflow: hidden;
        vertical-align: top;
        width: 190px;
        img {
          display: block;
          width: 100%;
          height: 100%;
        }
      }

    }
    .pagetitle-object-block {
      display: block;
      margin-bottom: 15px;
      a {
        display: block;
        text-decoration: underline;
        color: #00549f;
        font-size: 18px;
      }
    }
    .conecnte-object-block {
      display: inline-block;
      vertical-align: top;
      width: 800px;
      padding: 0 15px;
      box-sizing: border-box;
      line-height: 14px;
      font-size: 12px;
    }
  }

  li.object-item {
    display: inline-block;
    vertical-align: top;
    width: (100% / 4);
    padding: 0 20px;
    margin-bottom: 65px;
    box-sizing: border-box;

    &:hover {
      .object-wrap {
        border-color: #1c4d6f;
      }
    }

    .object-wrap {
      min-height: 100px;
      border: 1px solid #bccad4;
      padding: 25px 10px;
    }

    .object-img-wrap {
      a {
        display: block;
        height: 200px;
        overflow: hidden;
      }
      img {
        display: block;
        width: 100%;
        height: 100%;
      }
    }

    .object-link {
      display: block;
      margin-top: 25px;
      font-family: "Myriad Pro", sans-serif;
      font-weight: bold;
      font-size: 12px;
      color: #00549f;
      text-align: center;
      line-height: 18px;
    }
  }
}

.paginationb {
  position: relative;
  margin-bottom: 20px;
  z-index: 2;

  .pagination-wrap, ul.pagination {
    display: table;
    width: 100%;
    font-size: 0;
    text-align: center;

    li {
      font-size: 12px;
      color: #1c4d6f;
      display: inline-block;
      vertical-align: top;
      padding: 0 2px;

      a {
        color: #1c4d6f;
        text-decoration: none;
      }
    }
  }

}

.content-main {
  position: relative;
  z-index: 2;
  font-family: "Myriad Pro", sans-serif !important;
  font-size: 14px;
  line-height: 25px;
  color: #282828;
  margin: 20px 30px;

  @include clearfix;

  * {
    font-family: "Myriad Pro", sans-serif !important;
  }

  ul {
    display: block;
    margin-left: 30px;
    list-style-type: disc;
  }

  h1, h2, h3, h4, h5, h6 {
    padding: 20px 0;
  }

  h1 {
    font-size: 26px;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 22px;
  }

  h4 {
    font-size: 20px;
  }

  h5 {
    font-size: 18px;
  }

  h6 {
    font-size: 16px;
  }

  p {
    padding: 10px 0;
  }

  img {
    padding: 0;
  }

    iframe {
        padding: 15px;
    }


  a {
    color: #00549f;
  }

  table {


    td, th {
      padding: 5px;
      border: 1px solid #e1e1e1;
    }
  }

    .m-content {
        @include clearfix;
        &>a {
            float: left;
            padding: 0 10px 0 0;
            img {
                display: block;
            }
        }

        &>p {
            padding: 0;
        }
    }
}

.form {
  input, textarea {
    font-family: "Myriad Pro", sans-serif;
    display: block;
  }

  label {
    span.error {
      color: red;
      font-size: 11px;
    }
  }
}

.item-l {
    h3 {
        text-align: left;
    }
}

.foto-price {
    font-size: 0;
    display: block;
    margin-bottom: 20px;

    .foto {
        line-height: normal;
        a {
            display: inline-block;
            padding-right: 2px;

            img {
                display: block;
            }
        }
    }
}

.main {
  position: relative;

  &:before, &:after {
    position: absolute;
    display: block;
    left: 0;
    width: 100%;
    z-index: 1;
    content: "";
  }

  &.obj {
    &:before {
      display: none;
    }
  }

  &:before {
    top: 0;
    background: url('../images/shadow-top.png') repeat-x;
    height: 120px;
  }


  &:after {
    bottom: 0;
    background: url('../images/shadow-bottom.png') repeat-x;
    height: 82px;
  }
}

.materials {
    padding: 0;
    margin: 0;

    .material-item {
        margin-bottom: 20px;
        &:last-child {
            margin-bottom: 0;
        }

        .material-hidden-info {
            display: none;
        }

        @include clearfix;

        .material-img {
            display: block;
            padding: 0 10px 0 0;
            img {
                width: auto;
                display: block;
            }
        }

        .material-img, .content-material {
            float: left;
        }

        .product-tocart {
            margin: 0;
            padding: 0;
            border: none;

            div.price {
                display: none;
            }

            .isubmit {
                border: none;
                background: #5b9bd5;
                border-radius: 5px 0 5px 0;
                color: #fff;
                cursor: pointer;
                outline: none;
                padding: 10px 20px;
                text-transform: uppercase;
                display: inline-block;
                margin-top: 10px;
            }
        }

    }

}

.top-tovar {
    @include clearfix;
}

.title-tovar {
    float: left;
    width: 70%;
}

.btn-buy {
    float: right;
    width: 25%;
    text-align: right;

    .product-tocart {
        margin: 0;
        padding: 0;
        border: none;
    }

    div.price {
        display: none;
    }

    .shk-item {
        display: inline-block;
    }

    .isubmit {
        font-size: 18px;
        border: none;
        background: #5b9bd5;
        border-radius: 5px 0 5px 0;
        color: #fff;
        cursor: pointer;
        outline: none;
        padding: 10px 20px;
        text-transform: uppercase;
        display: inline-block;
    }

}

.calculator_new {
    display: none;

    h5 {
        padding: 10px 0;
    }

    .calc-block1 {
        float: left;
    }

    .calc-block2 {
        float: left;
        margin-left: 50px;
    }

    .fields1, .fields2 {
        label {
            display: block;
        }

        input {
            font-family: "Myriad Pro", sans-serif;
            font-size: 14px;
            padding: 5px;
            margin: 5px 0;
        }
    }
}

.description_tabs {
    @include clearfix;

    .tab {
        display: block;
        width: 50%;
        float: left;
        box-sizing: border-box;

        &.left {
            padding-right: 5px;
        }

        &.right {
            padding-left: 5px;
        }

        .inner {
            position: relative;
            height: 50px;
            font-size: 0;
            width: 100%;
            display: table;
            background: #0070c0;
            border: 1px solid #002060;
            text-align: center;
            box-sizing: border-box;
            color: #fff;
            text-decoration: none;

            &:before {
                position: absolute;
                background: url('../images/border.jpg');
                width: 9px;
                height: 9px;
                top: -1px;
                right: -1px;
                content: "";
            }

            span {
                font-family: "Myriad Pro", sans-serif;
                font-size: 14px;
                display: inline-block;
                vertical-align: middle;
            }
        }
    }
}

.area-calc {
  @include clearfix;

  h3 {
    text-align: left;
  }
}




.good-page-tocart-block {
  margin: 20px 0;
  display: block;
  width: 100%;
  padding: 15px;
  box-sizing: border-box;
  border: 1px solid #888;

  &:empty {
    display: none;
  }

  .shk-item {
    width: 100%;
    margin-top: 15px;
    display: block;
  }

  .good-name {
    display: inline-block;
    font-size: 12px;
    line-height: 18px;
    padding: 5px;
  }


  &>img, &>span, &>a {
    display: inline-block;
    vertical-align: top;
  }

  /*
  &>a {
    width: 30%;
    height: 90px;
    overflow: hidden;
    img {
      width: 100%;
    }
  }
  */

  &>a {
    display: inline-block;
  }

  .isubmit {
    display: block;
    margin: 5px 0;
  }

  /*
  &>img {
    height: 90px;
    box-sizing: border-box;
    width: 30%;
  }
  */

  .product-tocart {
    margin: 0;
    padding: 10px;
    font-size: 12px;
  }
}


.card {
  position: relative;
  z-index: 5;
  font-size: 12px;
  
  .shop-cart {
    background-position: 10px center;
    margin: 0;
    padding: 10px 10px 10px 42px;
    width: auto;
    border-radius: 0 0 0 10px;

    a {
      color: #0f7cc1;
    }

    &.empty {
      margin: 0;
    }
  }
}