@import "../bower/reset-css/_reset.scss";
@import "mixin/mixin";

/* core */
@import "core/global";

/* layout */
@import "layout/footer";

/* modules */
@import "modules/slider-objects-list";
@import "modules/article";

.header {
  position: relative;
  background: url('../images/header3.png') no-repeat;
  height: 309px;
}

.logo {
  position: absolute;
  background: url('../images/logo.png') no-repeat;
  top: 37px;
  right: 84px;
  width: 219px;
  height: 210px;
  cursor: pointer;
}

.nav {

  ul {
    position: relative;
    z-index: 200;
    font-size: 0;
    height: 71px;
    margin-left: 22px;

    &:after {
      display: inline-block;
      vertical-align: middle;
      height: 100%;
      content: "";
    }

    li {
      display: inline-block;
      vertical-align: middle;
      border-right: 1px solid #cfdbe4;

      &:last-child, &.last {
        border-right: none;
      }

      a {
        display: block;
        font-size: 17px;
        font-style: italic;
        font-family: Arial, sans-serif;
        color: #0f7cc1;
        text-decoration: underline;
        padding: 5px 12px;

        &:hover {
          text-decoration: none;
        }
      }
    }
  }

}

.slider {
  height: 202px;
}

.slider-wrap {
  position: relative;
  margin-left: 102px;
  width: 650px;

  @include clearfix;
}

.img-slider, .content-slider {
  float: left;
}

.slider-header {
  .item {
    height: 202px;
  }
  
  .img-slider {
    position: relative;
    overflow: hidden;
    height: 100%;
    width: 396px;

    &:after, &:before {
      position: absolute;
      z-index: 10;
    }

    &:before {
      top: 0;
      left: 0;
      width: 83px;
      height: 202px;
      background: url("../images/slider-mask-left.png") no-repeat;
      content: "";
    }

    &:after {
      top: 0;
      right: 0;
      width: 104px;
      height: 202px;
      background: url("../images/slider-mask-right.png") no-repeat;
      content: "";
    }

    img {
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      height: 100%;
    }
  }
}

.content-slider {
  position: relative;
  margin-left: -50px;
  margin-top: 40px;
  z-index: 15;

  h3 {
    font-size: 41px;
    font-family: "Myriad Pro", sans-serif;
    color: #fff;
    text-shadow: 1px 1px 3px #000;
  }

  .text-slider {
    margin-top: 50px;
    margin-left: 22px;
    color: #a8d0f1;
    font-size: 23px;
    font-family: "Myriad Pro", sans-serif;
  }

}

.arrow {
  position: absolute;
  top: 50%;
  margin-top: -26px;
  width: 39px;
  height: 52px;
}

.arrow-next {
  background: url('../images/arrow-next.png') no-repeat;
  left: 625px;

  &.obj {
    left: auto;
    right: 18px;
  }
}

.arrow-prev {
  background: url('../images/arrow-prev.png') no-repeat;
  left: -10px;

  &.obj {
    left: 18px;
  }
}



.container {
  position: relative;
  background: #f7f8fa url('../images/container.png') no-repeat;
  background-position: 0 -100px;
  min-height: 200px;
  margin-top: 35px;
  border: 1px solid transparent;

  &:before, &:after {
    position: absolute;
    display: block;
    left: 0;
    width: 100%;
    z-index: 1;
    content: "";
  }

  &:before {
    top: 0;
    background: url('../images/shadow-top.png') repeat-x;
    height: 120px;
  }

  &:after {
    bottom: 0;
    background: url('../images/shadow-bottom.png') repeat-x;
    height: 82px;
  }
}


